* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #064167;
    color: #fff;
}

.add-icon {
    background-image: url(../images/add.gif);
}

.delete-icon {
    background-image: url(../images/delete.gif);
}

.error {
    margin: 15px;
    padding: 15px;
    border: 1px solid #088999;
    background-color: #062f4d;
}